<!doctype html>
<head>

</head>

<body>
<h1>Avatar Handling Panel</h1>
<%if @userid.nil?%>

<h2>Select your user id</h2>
<form  action="/avatar" method="get">
<div>Select user id&nbsp;
<select name="userid" method='post'>
<% @users.each do |u|%>
<option value="<%=u%>"><%=u%> </option>	
<%end%>
</select></div>

<div><input type="submit" /></div>
</form>

<%else%>
<h2><a href="/avatar">Change user ID</a></h2>
<div style="height:15px;">&nbsp;</div>
<div style="float:left;" width="200px"><img src="<%=@avatar%>" width="100px" height="110px" /><div>
<h2><%if !@img%>Create<%else%>Update<%end%></h2>
	<%= form_tag({action: :create, userid: @userid}, multipart: true) do %>
	  <%= file_field_tag 'picture' %>
	<input type="submit" />
	<% end %>
<div style="height:35px;">&nbsp;</div>
<%if !@img.nil?&&!@img.empty?%>
<h2>Delete</h2>

<%= button_to "Delete Avatar", { action: "destroy", id: @userid },
                                method: :delete, data: { confirm: "Are you sure?" } %>
<%end%>

<%end%>


</body>
</html>
